<h2 class="text-center">Log in</h2>

<div class="col-xs-6 col-xs-offset-3">
    <%= form_for :session, html: { class: "form" } do |f| %>
      <p class="clearfix">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email %>
      </p>

      <p class="clearfix">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password %>
      </p>

      <p class="clearfix">
        <%= f.submit "Sign In" %>
      </p>
    <% end %>

    <%= link_to "Register", signup_path %>
</div>
