<h1 class="text-center">Log in</h1>

<div class="col-xs-6 col-xs-offset-3">
    <%= form_for :session do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control input-lg", autofocus: true %>
        </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control input-lg" %>
      </div>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
</div>