<h2 class="product text-center"><%= @category.name %></h2><small>(<%= pluralize @category.products.count, "product" %>)</small>
<div align="center">
  <% if logged_in? && current_user.admin? %>
      <div class="row">
        <%= link_to "Edit Category Name", edit_category_path(@category) %>
      </div>
  <% end %>
</div>

<% if @category.products.size > 0 %>
    <ul>
      <% @category.products.each do |product| %>
      <li class="prod-cat"> <%= link_to product_path(product.friendly_id) do  %>
            <%= image_tag product.image.url(:thumb) %></li>
        <% end %>
    </ul>
<% end %>

<% else %>
    <p>No category available</p>
<% end %>
