<%= render "shared/errors", obj: @product %>

<div class="col-xs-6 col-xs-offset-3">
    <%= form_for @product do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, class: "form-control" %>
        </div>
        <%= f.submit class: "btn btn-default" %>
    <% end %>
</div>