<h2 class="text-center">Products</h2>
  <% @products.each do |product| %>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="thumbnail">
        <%= link_to product_path(product.friendly_id) do  %>
            <%= image_tag product.image.url(:thumb) %>
        <% end %>
        <div class="caption">
          <h3 class="text-center"><span class="prod-title"><%= product.name %></span></h3>
          <hr/>
          <p><%= truncate(product.description, length: 100) %></p>
          <p><%= link_to "Add to Cart", add_to_cart_path(product), class: "btn btn-success" %>&nbsp;<span class="index-price"><%= number_to_currency product.price %></span></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @products, previous_label: "Previous",  next_label: "Next" %>